@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sawarabi+Mincho&display=swap");
@import "tailwindcss";

@theme {
  /* fonts */
  --font-display: "Sawarabi Mincho", serif;

  /* colors */
  --theme-primary: ;
  --theme-secondary: ;

}
